* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
h2 {
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    color: steelblue;
}
p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
img {
    width: 100%;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: steelblue;
    height: 4rem;
    list-style: none;
}


a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.3s;
}
a:hover {
    background-color: white;
    color: darkblue;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.2rem;
    }
    
    ul {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }
    
    a {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        display: block;
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    a {
        font-size: 1rem;
        padding: 0.4rem;
    }
}